.btn-close {
  position: absolute;
  right: 0px;
  font-size: 2rem;
  cursor: pointer;
}

.header {
  position: relative;
}

.item-resultado {
  img {
    width: 20%;
  }
}


// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .mat-dialog-content {
    width: uneset;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .mat-dialog-content {
    width: uneset;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 1367px) {
  .mat-dialog-content {
    width: 500px;
  }
}
