<div class="dialog-agenda container">


  <div mat-dialog-header class="row d-flex justify-content-center header">
    <span class="material-icons cursor-pointer btn-close" (click)="close()">
      close
    </span>
  </div>




  <div mat-dialog-content>


    <!-- Login -->
    <div class="row mt-5">

      <div class="col">
        <div class="row">
          <div class="col text-center">

            <div class="item-resultado">
              <div class="row">
                <img [src]="banco.image">
              </div>
              <div class="row">
                <strong><label class="label-medium color-blue">
                    {{banco.numInstallments}} x
                    R$ {{banco.installmentValue.toFixed(2).toString().replace(".", ",")}}</label></strong>
              </div>
              <div class="row">
                <label class="label-default text-center">Juros: R$
                  {{banco.interestRate.toFixed(2).toString().replace(".", ",")}} ao mês</label>
              </div>
            </div>

          </div>
        </div>

        <form (ngSubmit)="verificaCPF()">

          <div class="row mt-5">
            <div class="col mt-2">
              <label class="label-medium">Digite o seu CPF</label>
              <mat-form-field appearance="outline" class="w-100">
                <input [ngModelOptions]="{standalone: true}" name="usuario_cpf" [(ngModel)]="usuario_cpf"
                  mask="000.000.000-00" required matInput type="text" />
              </mat-form-field>
            </div>
          </div>



          <div class="row mt-5">
            <div class="col mt-5">
              <button class="action-button md w-100" type="submit">
                Próximo
              </button>
            </div>
          </div>

        </form>


      </div>
    </div>
  </div>

</div>
