<app-nav-bar></app-nav-bar>
<div class="container-fluid">

  <div class="row h-100">
    <div class="col-10 col-md-8 offset-md-2">
      <div class="card-panel" #panel>

        <label class="small-title d-block">
          Minhas solicitações de empréstimo
        </label>


        <div class="row" *ngIf="emprestimos.length === 0">
          <div class="col d-flex justify-content-between align-items-center">
            <label class="label-medium">Você ainda não fez nenhuma solicitação</label>
            <button (click)="novoEmprestimo()" class="action-button">QUERO UM EMPRÉSTIMO</button>
          </div>
        </div>

        <div class="row" *ngIf="emprestimos.length > 0">
          <div class="col-12 col-md-6">
            <label class="label-medium">Você fez {{emprestimos.length}}
              {{emprestimos.length > 1 ? 'solicitações':'solicitação'}}</label>
          </div>
          <div class="col-12 col-md-6 mt-4 mt-md-0 d-flex justify-content-end">
            <button (click)="novoEmprestimo()" class="action-button">Nova solicitação</button>
          </div>
        </div>


        <div class="row mt-5">
          <div class="col-12 col-md-4 offset-md-0" *ngFor="let r of emprestimos">
            <div class="item-resultado">
              <div class="row">
                <img [src]="r.bankImage">
              </div>
              <div class="row">
                <strong><label class="label-medium color-blue">
                    {{r.numInstallments}} x
                    R$ {{r.installmentValue.toFixed(2).toString().replace(".", ",")}}</label></strong>
              </div>
              <div class="row">
                <label class="label-default text-center">Juros: R$
                  {{r.interestRate.toFixed(2).toString().replace(".", ",")}} ao mês</label>
              </div>

              <div class="row mt-4 d-flex justify-content-end">
                <label class="label-default px-5" [ngStyle]="{'color': getColor(r.status)}">
                  {{getStatus(r.status)}}</label>
              </div>

            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>
