<div class="dialog-pre-cadastro container">


  <div mat-dialog-header class="row d-flex justify-content-center header">
    <span class="material-icons cursor-pointer btn-close" (click)="close()">
      close
    </span>
  </div>




  <div mat-dialog-content>


    <div class="row mt-4">

      <div class="col">


        <form [formGroup]="form" (ngSubmit)="preCadastro()">
          <div class="row">
            <div class="col">
              <label class="small-title">
                Estamos quase lá!
              </label>
            </div>

          </div>
          <div class="row">
            <div class="col">
              <label class="label-default">
                Antes, precisamos de alguns dados seus.
              </label>
            </div>

          </div>

          <div class="row d-flex align-items-center">
            <div class="col-6">

              <div class="row">
                <div class="col mt-2">
                  <label class="label-medium">Digite o seu nome</label>
                  <mat-form-field appearance="outline" class="w-100">
                    <input formControlName="usuario_nome"  required matInput type="text" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col mt-2">
                  <label class="label-medium">Digite o seu CPF</label>
                  <mat-form-field appearance="outline" class="w-100">
                    <input formControlName="usuario_cpf" mask="000.000.000-00" required matInput type="text" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col mt-2">
                  <label class="label-medium">Digite o seu celular</label>
                  <mat-form-field appearance="outline" class="w-100">
                    <input formControlName="usuario_celular" mask="(00) 00000-0000" required matInput type="text" />
                  </mat-form-field>
                </div>
              </div>
            </div>


            <div class="col-6">
              <div class="row mt-2">
                <div class="col mt-2">
                  <label class="label-medium">Digite o seu e-mail</label>
                  <mat-form-field appearance="outline" class="w-100">
                    <input formControlName="usuario_email" required matInput type="email" />
                  </mat-form-field>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col mt-2">
                  <label class="label-medium">Digite o seu CEP</label>
                  <mat-form-field appearance="outline" class="w-100">
                    <input formControlName="usuario_cep" mask="00.000-000" required matInput type="text" />
                  </mat-form-field>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col mt-2">
                  <label class="label-medium">Digite o valor desejado</label>
                  <mat-form-field appearance="outline" class="w-100">
                    <span matPrefix>R$ &nbsp;</span>
                    <input formControlName="emprestimo_valor" required matInput type="number" />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>





          <div class="row mt-5">
            <div class="col">
              <button class="action-button md w-100" type="submit">
                Próximo
              </button>
            </div>
          </div>

        </form>


      </div>
    </div>
  </div>

</div>
