.mat-dialog-content {
  width: 600px;
}

.btn-close {
  position: absolute;
  right: 0px;
  font-size: 2rem;
  cursor: pointer;
}

.header {
  position: relative;
}

.item-resultado {
  img {
    width: 20%;
  }
}


