<div class="dialog-agenda container">


  <div mat-dialog-header class="row d-flex justify-content-center header">
    <span class="material-icons cursor-pointer btn-close" (click)="close()">
      close
    </span>
  </div>




  <div mat-dialog-content>


    <!-- Login -->
    <div class="row mt-5">

      <div class="col">
        <div class="row">
          <div class="col text-center">
            <label class="small-title">
              Como você deseja ser atendido?
            </label>
          </div>
        </div>

        <form>


          <div class="row mt-5">
            <div class="col p-0">
              <div class="item-resultado">
                <img src="../../assets/phone.png">
                <label class="label-medium">
                  Quero receber uma ligação
                </label>
              </div>
            </div>
            <div class="col p-0">
              <div class="item-resultado">
                <img src="../../assets/computer.png">
                <label class="label-medium">
                  Quero continuar pelo site
                </label>
              </div>
            </div>

          </div>

        </form>


      </div>
    </div>
  </div>

</div>
