.mat-dialog-content {
    max-width: 350px;
  }
  
  .btn-close {
    position: absolute;
    left: 0px;
    font-size: 2rem;
  }
  
  .icon {
    font-size: 6rem;
  }
  
  .header {
    position: relative;
  }
  