<div class="dialog-agenda container">
  <div class="row d-flex justify-content-center header">
    <!-- <span class="material-icons icon color-success" *ngIf="data.success">
      check
    </span>
    <span class="material-icons icon color-warning" *ngIf="data.warning">
      warning
    </span>
    <span class="material-icons icon color-biocentro" *ngIf="data.error">
      block
    </span> -->
  </div>

  <div class="row d-flex justify-content-center mt-4">
    <!-- <h1 class="small-title">{{ data.title }}</h1> -->
  </div>

  <div mat-dialog-content>
    <div class="row d-flex justify-content-center mt-4">
      <p class="label-default text-muted">
        <!-- {{ data.text }} -->
      </p>
    </div>
  </div>

  <div mat-dialog-actions class="row mt-4">
    <div class="col p-0 d-flex justify-content-center">
      <button class="btn action-button" mat-button [mat-dialog-close]="true" cdkFocusInitial>
        <!-- {{ data.btnText }} -->
      </button>
    </div>
  </div>
</div>
