<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand">
      <img routerLink="/" src="../../assets/logo.svg" class="d-inline-block align-top" alt="" />
    </a>



    <button (click)="openCollapse()" class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="form-inline my-2 my-lg-0">


        <label *ngIf="user" class="label-medium mr-4" (click)="sair()">
          {{user.name}} (<label class="label-medium color-orange user">Sair</label>)
        </label>

        <button *ngIf="!user" class="btn btn-outline my-2 my-sm-0 mr-4 action-button outline" type="button"
          (click)="openLogin()">
          Entrar na minha conta
        </button>

        <button *ngIf="showPerguntas" class="btn btn-outline my-2 my-sm-0 action-button outline" type="button">
          <a href="https://ufcode2020.web.app/perguntas-frequentes" target="_blank">Perguntas frequentes</a>
        </button>
      </div>
    </div>



  </div>
</nav>
