@import '../../variables.scss';

.container-fluid {
  // background-color: $color-blue;
  background: repeating-linear-gradient(45deg, $color-blue, #3e67a0 10px);
  height: 100%;
  padding-top: 10rem;
}

.card-panel {
  height: 100%;
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {

  .card-panel {
    // min-width: 25vw !important;
    // max-width: 35vw !important;
    padding: 3rem;
    height: 100% !important;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card-panel {
    // min-width: 30vw !important;
    // max-width: 30vw !important;
    height: 100% !important;
    padding: 3rem;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 1367px) {

  .card-panel {
    // min-width: unset;
    // max-width: unset;
    height: 100%;
    padding: 5rem;
  }
}
